 .menu , .menu a
{font-family: Courier;
	color: #2f2f2f;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	width: 800px;

}
.gap {
	height: 100px;
}
.center {
	width: 660px;
	margin-bottom: 20%;	

}

.textarea {
	margin-left: 75px
}
.padding {
	padding-left: 13px;
}

.radiobox {
	padding-left: 20px;
	margin-top: -15px;
	margin-bottom: 40px;
}
.rezpara
{
font-family: Courier;
	color: #555555;
	font-size: 20px;
	font-weight: 400;
	
}

.myheading
{font-family: "Never Let Go";
	color: #231f20;
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 25px;
	padding-left: 0;
	width: 636px;
}
 .mybg{
 
	background-image: url("../images/bg.jpg");
	width:100%;
	 background-size: 100% 638px;
    height: 100%;
	
 }
p{
	font-family: Courier;
	color: #231f20;
	font-size: 20px;
	font-weight: 400;
}

.font {
	font-family: Courier;
	color: #555555;
	font-size: 16px;
	font-weight: normal;
}
.col-sm-6, .rezpara
{margin-top:95px
}

 .sspan  
 { 
	font-family: Courier;
	color: #231f20;
	font-size: 20px;
	font-weight: 400;
	
}

@media only screen and (max-width: 640px){ .mybg { background-image: none !important; background-color:#f8f8f8
} }

.required:after{
  content:" *";color:red;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;      
 
}